body {
  background: $primary-color;
  height: 100vh;
}

.navigation__menu {
  display: flex;
  justify-content: space-evenly;
  font-family: "Roboto light";
  font-size: 1.25rem;
  min-width: 30rem;

  .selection {
    color: $secondary-color;
    text-decoration: underline;
  }

  a {
    color: $secondary-color;
  }

  a:hover {
    background: -webkit-linear-gradient(360deg, rgba(173, 189, 255, 0.774) 0%, #FFD7D5 100%), #FFD7D5;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
  }
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 70vh;
}

.about__title {
  color: $secondary-color;
  font-size: 2.5rem;
  font-family: "Roboto regular"; 
}

.about__subtitle {
  background: $radient-color;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  font-family: "abril_fatfaceregular";
  font-size: 2rem;
}

.about__content {
  color: $secondary-color;
  width: 80%;
  column-count: 2;
  column-gap: 40px;
  column-fill: balance;
  line-height: 1.5rem;
  font-family: "Roboto light";
  font-size: 1rem;
}

@media (max-width: 800px) {
  .about {
    display: none;
  }
}


