/*
HOMEPAGE
*/


.banal {
  min-height: 100vh;
  background-color: white;

  @media (min-width: 900px) {
    display: block;
  }
}
.banal__gradient {
  position: absolute;
  left: 50%;
  height: 100vh;
  width: 50vw;
  background: $radient-color;
  display: flex;
  justify-content: center;
}

.banal__flexbox {
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.banal__container {
  text-align: right;
  line-height: 5rem;
}

.banal__title {
  font-family: "abril_fatfaceregular";
  font-size: 3rem;
}

.banal__content {
  font-family: "Roboto regular";
  font-size: 1.5rem;
}

.banal__button {
  font-family: "Roboto regular";
  font-size: 1.125rem;
  padding: 0.625rem 1.875rem 0.625rem 1.875rem;
  border-radius: 1.875rem;
  background: $radient-color;
}

/*
PAGE PROJET
*/

.three {
  background-color: white;
}

.three__background {
  background: $banal-gradient;
  width: 100vw;
  height: 25vh;
}

.three__title {
  font-family: "abril_fatfaceregular";
  font-size: 3rem;
  text-align: center;
}
