/*
HOMEPAGE
*/



/*.comptoir__gradient {
  position: absolute;
  left: 50%;
  height: 100vh;
  width: 50vw;
  background: $radient-color;
  display: flex;
  justify-content: center;
}

.comptoir__flexbox {
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.comptoir__container {
  text-align: right;
  line-height: 5rem;
}

.comptoir__title {
  font-family: "abril_fatfaceregular";
  font-size: 3rem;
}

.comptoir__content {
  font-family: "Roboto regular";
  font-size: 1.5rem;
}

.comptoir__button {
  font-family: "Roboto regular";
  font-size: 1.125rem;
  padding: 0.625rem 1.875rem 0.625rem 1.875rem;
  border-radius: 1.875rem;
  background: $radient-color;
}*/

/* 
PAGE PROJET
*/



.background__comptoir {
  background: $comptoir-gradient;
  height: 25vh;
}

.comptoir {
  background-color: white;
}

.comptoir__title {
  font-family: "abril_fatfaceregular";
  font-size: 1.875rem;
  margin-left: 10%;
  padding-top: 20px;
}

.comptoir__subtitle {
  font-size: 1.125rem;
  margin-left: 10%;
  margin-top: 20px;
}

.steps--comptoir {
  width: 100vw;
  height: 1200px;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.steps__content--green {
  color: #6F893B;
  font-size: 1.375rem;
  font-family: "Roboto light";
}

.design__colors--darkblue {
  width: 25%;
  margin-right: 1.25rem;
  background-color: #11191B;

  &:after {
    content:'';
    display: block;
    padding-bottom: 100%;
  }
}

.design__colors--green {
  width: 25%;
  margin-right: 1.25rem;
  background-color: #A4CF4C;

  &:after {
    content:'';
    display: block;
    padding-bottom: 100%;
  }
}

.design__colors--orange{
  width: 25%;
  margin-right: 1.25rem;
  background-color: #FFD43A;

  &:after {
    content:'';
    display: block;
    padding-bottom: 100%;
  }
}

.design__font--sunset {
  width: 300px;
}

.design__button--comptoir {
  width: 217px;
  background-color: #A4CF4C;
  color: white;
  font-family: "Roboto bold";
  text-align: center;
  padding: 15px 30px 15px 30px;
  border-radius: 50px;
  box-shadow: 0px 4px 10px #D6D6D6;
}

.logos--comptoir {
  width: 20rem;
}

.maquette__sc {
  height: 4600px;
  display: flex;
  justify-content: center;
  background-color: #11191B;
}
