.contact {
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.contact__title {
  @media(min-width: 768px) {
    color: $secondary-color;
    font-size: 2rem;
    font-family: "Roboto light";
  }
  @media(min-width: 1000px) {
    font-size: 2.25rem;
  }
  
}

.contact__container {
  @media(min-width: 768px) {
    color: $secondary-color;
    font-family: "Roboto light";
    width: 45rem;
    height: 40rem;
    left: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    line-height: 2rem;
    font-size: 1.5rem;
  }

  @media (min-width: 1000px) {
    width: 60rem; 
  }
  
}

.mail {
  display: flex;
  justify-content: space-evenly;
  width: 26rem;
}

.linkedin {
  display: flex;
  justify-content: space-evenly;
  width: 25rem;
}

.dribbble {
  display: flex;
  justify-content: space-evenly;
  width: 25rem;
}

.behance {
  display: flex;
  justify-content: space-evenly;
  width: 25rem;
}

@media (max-width: 767px) {
  .contact {
    display: none;
  }
}