.projets {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.projet {
  position: relative;
  width: 500px;
  height: 500px;
  background: $radient-color;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 500px) {
    display: none;
  }
}

.projet__nespresso {
  display: block;
  width: 100%;
  height: auto;
}

.projet__title {
  font-family: "Roboto light";
  font-size: 30px;
  margin-bottom: 20px;  
}

.projet__button {
  font-family: "Roboto regular";
  font-size: 1.125rem;
  padding: 0.625rem 1.875rem 0.625rem 1.875rem;
  border-radius: 1.875rem;
  background: $radient-color;
  margin-top: 20px;
  cursor: pointer;
}

.projet__sc {
  display: block;
  width: 100%;
  height: auto;
}

.projet__banal {
  display: block;
  width: 100%;
  height: auto;
}

.projet__hidden {
  position: absolute;
  top: auto;
  bottom: auto;
  left: auto;
  right: auto;
  width: 450px;
  height: 450px;
  opacity: 0;
  background-color: $primary-color;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.projet:hover .projet__hidden {
  opacity: 1;
  animation: fadeIn 0.7s;
}


