$radient-color: linear-gradient(90deg, rgba(173, 189, 255, 0.774) 0%, #FFD7D5 100%), #FFD7D5;
$primary-color: #131313;
$secondary-color: #eeeeee;
$nespresso-gradient: linear-gradient(90deg, #B29563, #DEB877);
$comptoir-gradient: linear-gradient(90deg, #6D8739, #98B75B);
$banal-gradient: linear-gradient(90deg, rgb(211, 193, 30), rgb(231, 208, 2));