$radient-color: linear-gradient(90deg, rgba(173, 189, 255, 0.774) 0%, #FFD7D5 100%), #FFD7D5;
$primary-color: #131313;
$secondary-color: #eeeeee;
$nespresso-gradient: linear-gradient(90deg, #B29563, #DEB877);